.welcome-section {
  background-color: #fff;
  border-radius: 10px;
  width: 97%;
  align-self: start;
  display: flex;
  margin: auto;
  margin-right: 10px;
}

.icon {
  color: #1E3A8A;
  font-size: 18px;
  cursor: pointer;
}

.h2 {
  color: #1E3A8A;
}