.Sidebar{
    width: 250px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    border-right: 1px solid #dee2e6;
    align-items: center;
    margin-top: -75px;
    
}
.text{
    color: #1E3A8A;
}
.Patient{

    color: #1E3A8A;
}
.navItem{
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.822);
}
.navItem:hover{
    background-color: #1e3b8af5;
    color: #fff;
    border-radius: 5px;
    
}